<nz-page-header class="site-page-header">


  <!--title-->
  <nz-page-header-title>
    Data Import Requests
  </nz-page-header-title>

  <!--content-->
  <nz-page-header-content>
    <!-- ----------------Survey Selector------------------ -->
    <div nz-col [nzSpan]="6"></div>
    <div nz-row>
      <div nz-col [nzSpan]="18"></div>
      <button nz-button nzType="primary" (click)="showImport()">
        New request
      </button>
    </div>
  </nz-page-header-content>
</nz-page-header>

<nz-table #basicTable [nzData]="listOfData" [nzScroll]="{ x: '1150px', y: '300px' }">
  <thead>
    <tr>
      <th>User</th>
      <th>Survey</th>
      <th nzRight>Request date</th>
      <th nzRight>Status</th>
      <!-- <th>Action</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.owner_id }}</td>
      <td>{{ data.survey_id }}</td>
      <td nzRight>{{data.submited_at | date:'short' }}</td>
      <td nzRight>
        <nz-badge [nzColor]="colors[data.status]" [nzText]="data.status"></nz-badge>
      </td>
      <!-- <td>
        <a>Cancel</a>
      </td> -->
    </tr>
  </tbody>
</nz-table>
