<div class="pages">
  <nz-layout class="app-layout">
    <!-- ----------------Sider------------------ -->
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null">
      <div class="sidebar-logo">
        <a routerLink="/surveys/">
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
          <h1>TOFFA</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzOpen nzTitle="Survey" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['data-import']">Import</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['data-export']">Export</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['feedbacks']">Data</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="Settings" nzIcon="setting">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a (click)="logout()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <!-- ---------------End Sider------------------ -->
    <nz-layout>
      <!-- ----------------HEADER------------------ -->
      <nz-header>
        <div nz-row class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          </span>
        </div>
      </nz-header>
      <!-- ----------------END HEADER------------------ -->
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</div>
