.login-page{
  display: flex;
  height: 100vh;
}

.form-title{
  margin: auto;
  text-align: center;
}
.login-form {
  max-width: 400px;
  margin: auto;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
.danger{
  color: red;
}
