<div class="main">
  <nz-page-header class="site-page-header">


    <!--title-->
    <nz-page-header-title>
      Survey Data
    </nz-page-header-title>

    <!--content-->
    <nz-page-header-content>
      <!-- ----------------Survey Selector------------------ -->
      <div nz-col [nzSpan]="6"></div>
      <div nz-row>
        <div nz-col [nzSpan]="18">
          <form nz-form [formGroup]="surveyForm">
            <nz-form-item>
              <nz-form-control [nzSpan]="12" nzErrorTip="Please select the survey!">
                <nz-select id="survey" formControlName="survey"
                  nzPlaceHolder="Select a survey and change the data below" (ngModelChange)="surveyChange($event)">
                  <nz-option *ngFor="let s of surveys" [nzValue]="s.id" [nzLabel]="s.title"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
        <button nz-button nz-dropdown [nzDropdownMenu]="menu1" nzType="primary">
          Action
          <i nz-icon nzType="down"></i>
        </button>
        <nz-dropdown-menu #menu1="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="showExport()">Export data</li>
            <li nz-menu-item (click)="showImport()">Import data</li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-page-header-content>
  </nz-page-header>

  <!-- ----------------Survey Data table------------------ -->
  <nz-table #fixedTable [nzData]="listOfData" [nzScroll]="{ x: '1150px', y: '300px' }">
    <!-- <thead>
      <tr>
        <th *ngFor="let h of headers"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of fixedTable.data">
        <td *ngFor="let f of data "></td>
      </tr>
    </tbody> -->
  </nz-table>
  <!-- ----------------End Survey Data table------------------ -->

</div>
