<div>
  <form nz-form [formGroup]="exportForm">
    <nz-form-item>
      <nz-form-label nzRequired>Survey</nz-form-label>
        <nz-form-control nzErrorTip="Please select the survey!">
          <div nz-row>
            <div nz-col nzSpan="19">
              <nz-select id="survey" formControlName="survey" nzPlaceHolder="Select a survey">
                <nz-option *ngFor="let s of surveys" [nzValue]="s.id" [nzLabel]="s.title"  ></nz-option>
              </nz-select>
            </div>
            <div nz-col nzSpan="5">
              <button nz-button nzType="default">Add</button>
            </div>
          </div>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>Date range</nz-form-label>
      <nz-range-picker [nzShowTime]="{ nzFormat: 'HH:mm' }" nzFormat="yyyy-MM-dd HH:mm" ngModel
      formControlName="dates"  (ngModelChange)="onChange($event)" (nzOnCalendarChange)="onCalendarChange($event)" (nzOnOk)="onOk($event)">
      </nz-range-picker>
    </nz-form-item>
  </form>

</div>

<div *nzModalFooter>
  <!-- <button nz-button nzType="default" (click)="destroyModal()">Cancel</button> -->
  <button nz-button nzType="primary" (click)="submit()">Submit</button>
</div>
