<div>
  <form nz-form [formGroup]="importForm">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please select the survey!">
        <nz-select id="survey" formControlName="survey" nzPlaceHolder="Select a survey">
          <nz-option *ngFor="let s of surveys" [nzValue]="s.id" [nzLabel]="s.title"  ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzSize='large'>
          <input id='import' type="file" formControlName="file"/>
        </button>
      </nz-form-control>
    </nz-form-item>

  </form>
  <div nz-row class="template-btn">
    <div nz-col nzSpan="12">
      <button nz-button>
        <i nz-icon nzType="download"></i>
        Download json template
        <i nz-icon nzType="file-text" nzTheme="outline"></i>
      </button>
    </div>
    <div nz-col nzSpan="12">
      <button nz-button disabled>
        <i nz-icon nzType="download"></i>
        Download excel template
        <i nz-icon nzType="file-excel" nzTheme="outline" ></i>
      </button>
    </div>
  </div>

</div>

<div *nzModalFooter>
  <button nz-button nzType="primary" (click)="submit()">Submit</button>
</div>
